<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.street35.booked">

    <permission
        android:name="com.street35.booked.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.street35.booked.Main.BottomNavigation"
            android:screenOrientation="portrait">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>    -->
        </activity>
        <activity android:name="com.street35.booked.NetworkServices.NotConnected"
            android:screenOrientation="portrait"></activity>

        <activity android:name="com.street35.booked.Login.Authentication"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Login.splash_screen"
            android:screenOrientation="portrait">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->

        </activity>




        <activity android:name="com.street35.booked.Profile.EditDetails"
            android:screenOrientation="portrait"/>
        <activity android:name="com.street35.booked.ExchangeOrDonate.TwoAddOptions"
            android:screenOrientation="portrait"/>
        <activity android:name="com.street35.booked.ExchangeOrDonate.EnterDetails"
            android:screenOrientation="portrait"/>


        <uses-library android:name="com.google.android.maps"
            android:screenOrientation="portrait"/>

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

       <activity
            android:name="com.street35.booked.NearbyBooks.MapsActivity"
            android:label="@string/title_activity_maps"
           android:screenOrientation="portrait">

        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <activity android:name=".Login.UserInfo"
            android:screenOrientation="portrait"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

       <!-- <service
            android:name=".PushNotif.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".PushNotif.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>-->

    </application>

</manifest>